In [26]:
import pandas as pd
from datetime import datetime
data = pd.read_csv(r'C:\WORK_IAAC\submissions\Storytelling\fiesta_shapefiles\fiestasAll_timeline(1).csv')
data.head()

,festival,localidad,lat,lng,status,est,prov,comunidad,start,fin
0,Semana Santa en Medina de Rioseco,Medina de Rioseco,41.88306,-5.04278,interes internacional,2009.0,Valladolid,Castilla-León,4/2/2023,4/9/2023
1,Corpus Christi en Béjar,Béjar,40.38472,-5.76194,interes internacional,2019.0,Salamanca,Castilla-León,6/8/2023,6/8/2023
2,Semana Santa en Vivero,Vivero,43.64806,-7.59000,interes internacional,2013.0,Lugo,Galicia,4/2/2023,4/9/2023
3,Semana Santa en Medina del Campo,Medina del Campo,41.30861,-4.91500,interes internacional,2011.0,Valladolid,Castilla-León,4/2/2023,4/9/2023
4,Semana Santa en Hellín,Hellín,38.51222,-1.70333,interes internacional,2007.0,Albacete,Castilla-La Mancha,4/2/2023,4/9/2023

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   festival   303 non-null    object
 1   localidad  303 non-null    object
 2   lat        302 non-null    object
 3   lng        287 non-null    object
 4   status     303 non-null    object
 5   est        277 non-null    float64
 6   prov       303 non-null    object
 7   comunidad  141 non-null    object
 8   start      303 non-null    object
 9   fin        303 non-null    object
dtypes: float64(1), object(9)
memory usage: 23.9+ KB

In [28]:
data['end'] = pd.to_datetime(data['fin'], format='%m/%d/%Y')
data['st'] = pd.to_datetime(data['start'], format='%m/%d/%Y')
data = data.drop(columns=['start','fin'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   festival   303 non-null    object
 1   localidad  303 non-null    object
 2   lat        302 non-null    object
 3   lng        287 non-null    object
 4   status     303 non-null    object
 5   est        277 non-null    float64
 6   prov       303 non-null    object
 7   comunidad  141 non-null    object
 8   end        303 non-null    datetime64[ns]
 9   st         303 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(7)
memory usage: 23.9+ KB

In [29]:
# data['lat'] = data['lat'].apply(lambda x:x.astype(float) if len(x)>0 else None)
data['lat'] = data['lat'].str.replace('\ufeff', '').astype(float)

In [30]:
data['lng'] = data['lng'].str.replace('\ufeff', '').astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   festival   303 non-null    object
 1   localidad  303 non-null    object
 2   lat        302 non-null    float64
 3   lng        287 non-null    float64
 4   status     303 non-null    object
 5   est        277 non-null    float64
 6   prov       303 non-null    object
 7   comunidad  141 non-null    object
 8   end        303 non-null    datetime64[ns]
 9   st         303 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(5)
memory usage: 23.9+ KB

In [31]:
data.to_csv(r'C:\WORK_IAAC\submissions\Storytelling\fiesta_shapefiles\fiestasAll_timeline_fin.csv')