In [12]:
import pandas as pd
import geocoder
#read scraped file
df = pd.read_csv(r'C:\WORK_IAAC\submissions\Storytelling\fiestas.csv', encoding='utf-8-sig')
df.head()

,festival,localidad,lat,lng,status,est,type,prov,comunidad,presupuesto_2022,turistas_2022,city_budget,city_pop,euro_per_citizen,turista_to_pop,budget_to_pop,start,fin,web
0,Carnaval de Cádiz,Cádiz,36.51667,-6.28333,interes internacional,1980,carnaval,Cádiz,Andalucía,600000,400000,61000000,113066,5.31,3.54,539.51,2/16/2023,2/26/2023,https://www.cadizturismo.com/eventos/carnaval-...
1,Semana Santa de Málaga,Málaga,36.71667,-4.41667,interes internacional,1980,religious/ popular,Málaga,Andalucía,400000,1400000,976000000,579076,0.69,2.42,1685.44,4/2/2023,4/9/2023,https://www.semana-santa-malaga.com/
2,Semana Santa en Sevilla,Sevilla,37.38333,-5.98333,interes internacional,1980,religious/ popular,Sevilla,Andalucía,1000000,700000,1158000000,681998,1.47,1.03,1697.95,4/2/2023,4/9/2023,https://www.semana-santa.org/
3,Semana Santa en Granada,Granada,37.17806,-3.60083,interes internacional,2009,religious/ popular,Granada,Andalucía,150000,150000,307000000,228682,0.66,0.66,1342.48,4/2/2023,4/9/2023,https://semanasantagranada.es/
4,Feria de Abril,Sevilla,37.38333,-5.98333,interes internacional,1980,carnaval,Sevilla,Andalucía,1200000,1000000,1158000000,681998,1.76,1.47,1697.95,4/23/2023,4/29/2023,https://www.sevilla.org/fiestas-de-la-ciudad/f...

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   festival          115 non-null    object
 1   localidad         115 non-null    object
 2   lat               115 non-null    object
 3   lng               115 non-null    object
 4   status            115 non-null    object
 5   est               115 non-null    int64
 6   type              115 non-null    object
 7   prov              115 non-null    object
 8   comunidad         115 non-null    object
 9   presupuesto_2022  115 non-null    int64
 10  turistas_2022     115 non-null    int64
 11  city_budget       115 non-null    int64
 12  city_pop          115 non-null    int64
 13  euro_per_citizen  115 non-null    float64
 14  turista_to_pop    115 non-null    float64
 15  budget_to_pop     115 non-null    float64
 16  start             115 non-null    object
 17  fin               115 non-null    object
 18  web               115 non-null    object
dtypes: float64(3), int64(5), object(11)
memory usage: 17.2+ KB

In [16]:
df['lat'] = df['lat'].str.replace('\ufeff', '').astype(float)

In [17]:
df['lng'] = df['lng'].str.replace('\ufeff', '').astype(float)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   festival          115 non-null    object
 1   localidad         115 non-null    object
 2   lat               115 non-null    float64
 3   lng               115 non-null    float64
 4   status            115 non-null    object
 5   est               115 non-null    int64
 6   type              115 non-null    object
 7   prov              115 non-null    object
 8   comunidad         115 non-null    object
 9   presupuesto_2022  115 non-null    int64
 10  turistas_2022     115 non-null    int64
 11  city_budget       115 non-null    int64
 12  city_pop          115 non-null    int64
 13  euro_per_citizen  115 non-null    float64
 14  turista_to_pop    115 non-null    float64
 15  budget_to_pop     115 non-null    float64
 16  start             115 non-null    object
 17  fin               115 non-null    object
 18  web               115 non-null    object
dtypes: float64(5), int64(5), object(9)
memory usage: 17.2+ KB

In [30]:
df.to_csv(r'C:\WORK_IAAC\submissions\Storytelling\fiestas_red.csv', inplace=True)

TypeError: to_csv() got an unexpected keyword argument 'inplace'

In [31]:
from datetime import datetime
df['st'] = pd.to_datetime(df['start'], format='%m/%d/%Y')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   festival          115 non-null    object
 1   localidad         115 non-null    object
 2   lat               115 non-null    float64
 3   lng               115 non-null    float64
 4   status            115 non-null    object
 5   est               115 non-null    int64
 6   type              115 non-null    object
 7   prov              115 non-null    object
 8   comunidad         115 non-null    object
 9   presupuesto_2022  115 non-null    int64
 10  turistas_2022     115 non-null    int64
 11  city_budget       115 non-null    int64
 12  city_pop          115 non-null    int64
 13  euro_per_citizen  115 non-null    float64
 14  turista_to_pop    115 non-null    float64
 15  budget_to_pop     115 non-null    float64
 16  start             115 non-null    object
 17  fin               115 non-null    object
 18  web               115 non-null    object
 19  st                115 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(5), object(9)
memory usage: 18.1+ KB

In [33]:
df['fi'] = pd.to_datetime(df['fin'], format='%m/%d/%Y')

In [34]:
df.to_csv(r'C:\WORK_IAAC\submissions\Storytelling\fiestas_red.csv')