In [1]:
import pandas as pd
import numpy as np
from deep_translator import GoogleTranslator

#translate whole xlsx, columns of economic categories: 'GCNAE', 'CCNAE', 'SCNAE', > translate unique items and replace within columns,
#convert 'COORD_X', 'COORD_Y' into float
#then save file with index_EN
df = pd.read_csv(r'C:\WORK_IAAC\submissions\Storytelling\23988.csv', delimiter=';')
# df = pd.read_excel
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Comunidades autónomas  280 non-null    object
 1   Tipo de dato           280 non-null    object
 2   Periodo                280 non-null    int64
 3   Total                  256 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.9+ KB

In [2]:
df.head()

  Comunidades autónomas Tipo de dato  Periodo       Total
0                 Total    Dato base     2022  71.561.488
1                 Total    Dato base     2021  31.180.802
2                 Total    Dato base     2020  18.933.103
3                 Total    Dato base     2019  83.509.153
4                 Total    Dato base     2018  82.808.413

In [3]:
df['Comunidades autónomas'].unique()

array(['Total', '01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La',
       '18 Ceuta', '19 Melilla'], dtype=object)

In [4]:
xf = df[df['Comunidades autónomas'] == '05 Canarias']
xf

   Comunidades autónomas             Tipo de dato  Periodo       Total
70           05 Canarias                Dato base     2022  12.329.171
71           05 Canarias                Dato base     2021   5.258.729
72           05 Canarias                Dato base     2020   3.787.228
73           05 Canarias                Dato base     2019  13.146.863
74           05 Canarias                Dato base     2018  13.752.022
75           05 Canarias                Dato base     2017  14.214.222
76           05 Canarias                Dato base     2016  13.259.567
77           05 Canarias  Tasa de variación anual     2022      134,45
78           05 Canarias  Tasa de variación anual     2021       38,85
79           05 Canarias  Tasa de variación anual     2020      -71,19
80           05 Canarias  Tasa de variación anual     2019        -4,4
81           05 Canarias  Tasa de variación anual     2018       -3,25
82           05 Canarias  Tasa de variación anual     2017         7,2
83           05 Canarias  Tasa de variación anual     2016       13,49

In [7]:
df['Comunidades autónomas'] = df['Comunidades autónomas'].apply(lambda x: x.re.sub(r'\d{2}\s', '', string)
# new_string = re.sub(r'\d{2}\s', '', string)

SyntaxError: unexpected EOF while parsing (3090454467.py, line 2)